<!DOCTYPE html>
<html>
</html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.min.js"></script>
<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap'); 


* {
    padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Caveat', cursive;
}


.main__body {
  display: flex;
}

</style>
</head>
                    <nav>
                        <ul class="nav_links">
                            <li><a href="/add">Add Employee</a></li>
                            <li><a href="/search">Search Employee</a></li>     
                            <li><a href="/delete">Update Employee</a></li>   
                            <li><a href="/view">View Employee</a></li>
                        </ul>
                    </nav>
                    
                </div>
            </div>
        </div>
    <!-- main body starts -->
    <div class="main__body">
        

      